# coding: utf-8

"""
    Chatwoot

    This is the API documentation for Chatwoot server.  # noqa: E501

    OpenAPI spec version: 1.0.0
    Contact: hello@chatwoot.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from chatwoot_client.api_client import ApiClient


class InboxAPIApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_details_of_a_inbox(self, inbox_identifier, **kwargs):  # noqa: E501
        """Inbox details  # noqa: E501

        Get the details of an inbox  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_details_of_a_inbox(inbox_identifier, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbox_identifier: The identifier obtained from API inbox channel (required)
        :return: PublicInbox
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_details_of_a_inbox_with_http_info(inbox_identifier, **kwargs)  # noqa: E501
        else:
            (data) = self.get_details_of_a_inbox_with_http_info(inbox_identifier, **kwargs)  # noqa: E501
            return data

    def get_details_of_a_inbox_with_http_info(self, inbox_identifier, **kwargs):  # noqa: E501
        """Inbox details  # noqa: E501

        Get the details of an inbox  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_details_of_a_inbox_with_http_info(inbox_identifier, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbox_identifier: The identifier obtained from API inbox channel (required)
        :return: PublicInbox
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inbox_identifier']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_details_of_a_inbox" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inbox_identifier' is set
        if ('inbox_identifier' not in params or
                params['inbox_identifier'] is None):
            raise ValueError("Missing the required parameter `inbox_identifier` when calling `get_details_of_a_inbox`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'inbox_identifier' in params:
            path_params['inbox_identifier'] = params['inbox_identifier']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json; charset=utf-8'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/public/api/v1/inboxes/{inbox_identifier}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PublicInbox',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
